:root {
  --container: #d6dae1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #b2bdcf;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fefefe;
}

.board-row {
  display: flex;
  justify-content: center;
  height: 100px;
  margin: 0px;
}

/* containers */

.dice-roller-container,
.counter-container,
.snake-game,
.game-container {
  margin: auto;
  width: 35%;
  padding: 20px;
  background-color: var(--container);
  border-radius: 25px;
}

.counter-container,
.snake-game {
  margin: 20px auto;
}

.snake-game,
.game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  justify-content: center;
  margin-top: 5%;
}

.square {
  background-color: #435568;
  border-width: 5px;
  border-color: #3a4857;
  border-radius: 10px;
  position: relative;
  height: 100px;
  width: 100px;
  margin: 0px;
  padding: 0%;
  font-size:50px ;
  color: #FFF;
  font-family: 'Arial Black';
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

a {
  color: #FFF;
}

.win-text {
  font-size: 100px;
  font-weight: bold;
  color: rgb(0, 255, 0); 
  text-align: center;
}

.lose-text {
  font-size: 100px;
  font-weight: bold;
  color: rgb(225, 27, 27);
  text-align: center;
}

.draw-text {
  color: yellow;
}

.continue {
  text-align: center;
  color: #FFF;
}
.status {
  color: #000000;
}



.snake-game .game-board {
  display: inline-block;
  border: 3px solid #372c2c;
  border-radius: 30px;
}

.snake-game .board-row {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 20px; 
  margin: 0; 
}

.snake-game .board-cell {
  width: 20px;
  height: 20px;
}

.snake-game .snake {
  background-color: rgb(42, 61, 156);
  border-radius: 30%;
}

.snake-game .food {
  background-color: rgb(213, 7, 245);
  border-radius: 30%;
}

.snake-game .score {
  margin-top: 10px;
}


.counter-container button {
  width: 50px;
  margin: 5px;
}

button {
  margin: 20px;
  border: 0;
  border-radius: 10px;
  height: 40px;
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
